<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.donric.pojo.Address">
        <property name="address" value="安徽"/>
    </bean>



    <bean id="student" class="com.donric.pojo.Student">
<!--&lt;!&ndash;        第一种，普通值注入，value&ndash;&gt;-->
<!--        另类写法：<property name="name">-->
<!--                     <value>donric</value>-->
<!--                </property>-->
        <property name="name" value="donric"/>


<!--        第二种，bean注入，ref-->
        <property name="address" ref="address"/>
<!--        数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>三国演义</value>
                <value>人间失格</value>
            </array>
        </property>
<!--        list注入-->
        <property name="hobbys">
            <list>
                <value>Coding</value>
                <value>Singing</value>
                <value>Dancing</value>
            </list>
        </property>
<!--        map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="3403122000012312"/>
                <entry key="银行卡" value="ZGYH123"/>
            </map>
        </property>
<!--        set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
<!--        null注入-->
        <property name="wife">
            <null/>
        </property>
        <property name="info">
            <props>
                <prop key="学号">3181002122</prop>
                <prop key="邮箱">donric@qq.com</prop>
                <prop key="性别">男</prop>
            </props>
        </property>
    </bean>

</beans>